// 1px transparent GIF
//$blank: 'data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs';

// Landing Colors
$color-something : #428bca;
$color-another   : #999999;
$color-primary   : $color-something;
